
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Product ID
        </dt>

        <dd>
            @ViewBag.Image.ProductId
        </dd>

        <dt>
            Category Name
        </dt>

        <dd>
            @ViewBag.Image.CategoryId
        </dd>

    </dl>

    @using (Html.BeginForm("delete","Cateogory")) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.Hidden("CategoryId")
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
