@using Nettbutikk.Models
@{
    bool LoggedIn = (Session["LoggedIn"] == null ? false : (bool)Session["LoggedIn"]);
    //bool Admin = ViewBag.Admin;
    bool Admin = (Session["Admin"] == null ? false : (bool)Session["Admin"]);
}

<div class="backbar-top"></div>

<div class="header backbar-mid">
    <div class="container">
        <div class="header_logo">
            <a href="@Url.Action("Index","Home")">
                <img src="~/Images/logo-tank.png" alt="Logo showing a tank" />
            </a>
        </div>
        <div class="header_search">
            <div class="searchfield">
                <input id="inputProductSearch" type="search" class="form-control" placeholder="Søk i produkter" />
                <span class="glyphicon glyphicon-search search_icon"></span>
                @* Temp *@
                <span id="searchText" style="position:absolute;top:35px;left:25px;"></span>
            </div>

        </div>
        <div class="header_options">
            <div class="header_login">

                <span>@Html.ActionLink("Images", "Index", "Image")</span>
                <span> | </span>     

                @*
    <span>@Html.ActionLink("Create Img", "CreateImage", "Image")</span>
    <span> | </span>

    <span>@Html.ActionLink("Edit Img", "EditImage", "Image")</span>
    <span> | </span>

    <span>@Html.ActionLink("Delete Img", "DeleteImage", "Image")</span>
    <span> | </span>
                *@

                @if (!LoggedIn)
                {
                    <a href="#LoginModal" data-toggle="modal">Logg inn</a>
                    <span> | </span>
                    <a href="#RegisterModal" data-toggle="modal">Registrer bruker</a>
                    
                   

                }
                else
                {
                    //var Cookie = Request.Cookies["Userinfo"];
                    //var Fullname = Cookie["Firstname"] + " " + Cookie["Lastname"];

                    <span>@Html.ActionLink("Min side", "MyPage", "Account")</span>
                    <span> | </span>
                    <a href="#" id="Logout">Logg ut</a>
                    if (Admin)
                    {
                        <span> | </span>
                        <span>@Html.ActionLink("Administrer", "Index", "Administration")</span>
                    }
                }
            </div>
            <div class="header_shop">
                <div class="col-md-6">
                    @*<a id="btnShoppingCart" href="#ShoppingCartModal" data-toggle="modal" class="btn btn-primary">
                        Handlekurv <span class="glyphicon glyphicon-shopping-cart"></span>
                    </a>*@
                    @Html.ActionLink("Handlekurv","Cart","Cart",null, new { @class="btn btn-primary" })
                    
                    <div class="cartCounter"></div>
                </div>
                <div class="col-md-6">
                    @*<a href="#" class="btn btn-danger">Til kassen <span class="glyphicon glyphicon-credit-card"></span></a>*@
                    @Html.ActionLink("Til betaling","Checkout","Checkout", null, new {@class= "btn btn-danger" })
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("_LoginModal", new CustomerLoginPartial())
@Html.Partial("_RegisterModal", new CustomerRegisterPartial())

<script>
    $(document).ready(function () {
        updateNumItemsInCart();

        function updateNumItemsInCart() {
            $.ajax({
                url: '@Url.Action("NumItemsInCart","Cart")',
                method: "GET",
                success: function (result) {
                    count = parseInt(result);
                    $(".cartCounter").text(count);

                }, error: function (result) {
                    //window.location.href = result;
                    alert(result);
                }
            })
        }

        

        $("#inputProductSearch").on("keyup", function () {
            $("#searchText").text($(this).val())
        })

        $("#Logout").click(function () {

            $.ajax({
                url: '@Url.Action("Logout","Account")',
                method: "post",
                success: function () {

                    window.location.reload();
                }, error: function (result) {
                    alert("error: " + JSON.stringify(result));
                }
            })
        })

        $("#btnShoppingCart").on("click", function () {
            $.ajax({
                url: '@Url.Action("GetCart","Cookie")',
                
                success: function (result) {
                    var cart = JSON.parse(result);
                    populateCartTable(list);
                }, error: function (result) {
                    alert("error: " + JSON.stringify(result))
                }

            })
        })
    })

</script>