@{
    List<Oblig1_Nettbutikk.Models.Category> categories = ViewBag.Categories;
    List<Oblig1_Nettbutikk.Models.Product> products = ViewBag.Products;
    int counter = 0;
}
<div class="wrapper">
    <div class="categories">
        <ul class="category-list">
            @foreach (var category in categories)
            {
                <li>
                    @Html.ActionLink(category.Name, "Category", "Home", new { @CategoryID = category.CategoryID }, null)
                </li>

            }
        </ul>
    </div>
    <div class="content">
        
        <h1>@ViewBag.CategoryName</h1>
        
        @foreach (var product in products)
        {
            bool startRow = counter++ % 3 == 0;
            bool endRow = counter % 3 == 0;
           
            if (startRow)
            {
                @Html.Raw("<div class='row'>")
            }


            <div class="col-md-4">
                @Html.Partial("Product_ListItem",product)
            </div>

            if (endRow || products.Count == counter)
            {
                @Html.Raw("</div>")
            }
        }

    </div>

</div>

<script>
    $(document).ready(function () {
        $(".category-list li").click(function () {

        })
    })
</script>