@model Oblig1_Nettbutikk.Models.Product

<div class="product_listitem">
    <div class="row">
        <div class="col-md-6">
            <div class="listitem_image">
                @{ 
                    var ProductImage = Model.Name;
                    var FileType = ".png";
                    var Filename = ProductImage + FileType;

                }
                <img id="@Filename" src="/Images/Products/@Filename" alt="Bilde av @Model.Name"/>
            </div>

        </div>
        <div class="col-md-6">
            <h4>@Model.Name</h4>
        </div>
        </div>
    <div class="listitem_description_outer">
        <div class="listitem_description">
            <p>@Model.Description</p>
        </div>
    </div>
    <p>Antall på lager: @Model.Stock</p>
    <a href="#" id="@Model.ProductID" data-productName="@Model.Name" class="btn btn-success">kr @Model.Price,- <span class="glyphicon glyphicon-shopping-cart"></span></a>
</div>

<script>
    $(document).ready(function () {

        $("img").on("error", function ()
        {
            $(this).hide();
        })

        $(".product_listitem a").unbind("click");
        $(".product_listitem a").click(function () {
            alert("TODO: legg " + $(this).attr("data-productName") + " i shoppingcart (Product_ListItem.cshtml)")
            // Add to shoppingcart
        })
    })
</script>