@model List<Oblig1_Nettbutikk.Models.CustomerView>

<h4>Amdinistration_Customer</h4>
<hr />

<table id="adminCustomerTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Address</th>
            <th>Zipcode</th>
            <th>City</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr class="adminRowCustomer">
                <td>@c.CustomerId</td>
                <td>  
                    <input type="text" value="@c.Email" readonly />
                </td>
                <td>
                    <input type="text" value="@c.Firstname" class="editable inFirstname" readonly />
                </td>
                <td>
                    <input type="text" value="@c.Lastname" class="editable inLastname" readonly />
                </td>
                <td>
                    <input type="text" value="@c.Address" class="editable inAddress" readonly />
                </td>
                <td>
                    <input type="text" value="@c.Zipcode" class="editable inZipcode" readonly />
                </td>
                <td>
                    <input type="text" value="@c.City" class="editable inCity" readonly />
                </td>
                <td>
                    <a href="#" class="adminEditCustomer" id="editCustId+@c.CustomerId">Endre</a>
                    <a href="#" class="adminDeleteCustomer" id="delCustId+@c.CustomerId">Slett</a>
                    <a href="#" class="adminCancelCustomer" id="delCustId+@c.CustomerId" hidden>Avbryt</a>
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    $(document).ready(function () {
        $("#adminCustomerTable .adminEditCustomer").on("click", function () {
            var save = $(this).text() == "Lagre";
            var row = $(this).closest("tr");

            var btnDelete = row.find(".adminDeleteCustomer");
            var btnCancel = row.find(".adminCancelCustomer");

            if (save) {

                var fn = row.find(".inFirstname").val();
                var ln = row.find(".inLastname").val();
                var adr = row.find(".inAddress").val();
                var zip = row.find(".inZipcode").val();
                var city = row.find(".inCity").val();

                console.log(fn + " - " + ln + " - " + adr + " - " + zip + " - " + city);

                var inputErr = fn === "" || ln === "" || adr === "" || zip === "" || city === "";

                if (fn === "") {
                    row.find(".inFirstname").addClass("input-error");
                }
                if (ln === "") {
                    row.find(".inLastname").addClass("input-error");
                }
                if (adr === "") {
                    row.find(".inAddress").addClass("input-error");
                }
                if (zip === "") {
                    row.find(".inZipcode").addClass("input-error");
                }
                if (city === "") {
                    row.find(".inCity").addClass("input-error");
                }

                if (inputErr) {
                    console.log("inputerr");
                    return;
                }
                // implement ajax-call update customer

                // finally show appropriate buttons

                $(this).text("Endre");
                btnDelete.attr("hidden", false);
                btnCancel.attr("hidden", true);
            }
            else {
                $(this).text("Lagre");
                btnDelete.attr("hidden", true);
                btnCancel.attr("hidden", false);
            }

            row.find(".editable").each(function () {
                $(this).removeClass("input-error");
                $(this).attr("readonly", save);
            })

        })
    })
</script>