<p>
    @Html.ActionLink("Create New", "CreateImage")
</p>

<style>
    .box {
        display: none;
        width: 100%;
    }


        a:hover + .box, .box:hover {
            display: block;
            position: relative;
            z-index: 100;
        }
</style>

<table class="table">
    <tr>
        <th>
            Product ID
        </th>
        <th>
            Image URL
        </th>
        <th>
        </th>
    </tr>

    @foreach (var image in ViewBag.Images)
    {
        <tr>
            <td>
                @image.ProductId
            </td>
            <td>
                @{
                    string url = image.ImageUrl.Length >= 40 ? image.ImageUrl.Substring(0, 40) + "..." : image.ImageUrl;
                }

                <a href="@image.ImageUrl">@url</a><div class="box"><img src="@image.ImageUrl" /></div>

            </td>
            <td>

                @Html.ActionLink("Edit", "EditImage", new { imageId = image.ImageId }) |
                @Html.ActionLink("Delete", "DeleteImage", new { imageId = image.ImageId })

            </td>
        </tr>
                    }
</table>
