<p>
    @Html.ActionLink("Create New", "CreateImage")
</p>

<table class="table">
    <tr>
        <th>
            Product ID
        </th>
        <th>
            Image URL
        </th>
        <th>

        </th>
    </tr>


    @foreach (var image in ViewBag.Images)
    {
        <tr>
            <td>
                @image.ProductId
            </td>
            <td>
                @image.ImageUrl
            </td>
            <td>

                @Html.ActionLink("Edit", "EditImage", new { imageId = image.ImageId }) |
                @Html.ActionLink("Details", "NOT_IMPLEMENTED_YET", new { imageId = image.ImageId }) |
                @Html.ActionLink("Delete", "DeleteImage", new { imageId = image.ImageId })

            </td>
        </tr>
    }

</table>
