@{
    bool LoggedIn = ViewBag.LoggedIn ?? false;
}

<div class="backbar-top"></div>

<div class="header backbar-mid">
    <div class="container">
        <div class="header_logo">
            <img src="~/Images/logo-tank.png" alt="Logo showing a tank" />
        </div>
        <div class="header_search">
            <div class="searchfield">
                <input id="inputProductSearch" type="search" class="form-control" placeholder="Søk i produkter" />
                <span class="glyphicon glyphicon-search search_icon"></span>
                @* Temp *@
                <span id="searchText" style="position:absolute;top:35px;left:25px;"></span>
            </div>

        </div>
        <div class="header_options">
            <div class="header_login">
                @if (!LoggedIn)
                {
                    <a href="#LoginModal" data-toggle="modal">Logg inn</a>
                    <span> | </span>
                    <a href="#RegisterModal" data-toggle="modal">Register</a>
                }
                else
                {
                    //var Cookie = Request.Cookies["Userinfo"];
                    //var Fullname = Cookie["Firstname"] + " " + Cookie["Lastname"];

                    <span>@Html.ActionLink("Min side", "MyPage", "Account")</span>
                    <span> | </span>
                    <a href="#" id="Logout">Logg ut</a>
                }
            </div>
            <div class="header_shop">
                @*<div class="header_shoppingcart">*@
                <div class="col-md-6">
                    <a id="btnShoppingCart" href="#ShoppingCartModal" data-toggle="modal" class="btn btn-primary">Handlekurv <span class="glyphicon glyphicon-shopping-cart"></span></a>
                    
                    <div class="cartCounter"></div>
                </div>
                @*<div class="header_checkout">*@
                <div class="col-md-6">
                    <a href="#" class="btn btn-danger">Til kassen <span class="glyphicon glyphicon-credit-card"></span></a>
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("_LoginModal")
@Html.Partial("_RegisterModal")
@Html.Partial("_ShoppingCartModal")

<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("NumItemsInCart","Home")',
            method: "GET",
            success: function (result) {
                count = parseInt(result);
                $(".cartCounter").text(count);


            }, error: function (result) {
                //window.location.href = result;
                alert(result);
            }

        })

        $("#inputProductSearch").on("keyup", function () {
            $("#searchText").text($(this).val())
        })

        $("#Logout").click(function () {

            $.ajax({
                url: '@Url.Action("Logout","Account")',
                method: "post",
                success: function () {

                    window.location.reload();
                }, error: function (result) {
                    alert("error: " + JSON.stringify(result));
                }
            })
        })

        $("#btnShoppingCart").on("click", function () {
            $.ajax({
                url: '@Url.Action("GetCart","Home")',
                
                success: function (result) {
                    var list = JSON.parse(result);
                    $("#list").text(list[0].Name);
                }, error: function (result) {
                    alert("error: " + JSON.stringify(result))
                }

            })
        })
    })

</script>